<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Application Confirmation</title>
    </head>
    <h1>Applicant Informatio</h1>
    <h3>Name: <%- aname%></h3>
    <h3>Email Address: <%- aemail%></h3>
    <h3>GPA: <%- agpa%></h3>
    <h3>Background Information: <%- abackground_info%></h3>
    <p></p>
    <hr>
    <h3>Task completed at <%- adate%></h3>
    <hr>
    <a href="../">HOME</a>
</html>